.footer {
  background-color: #fff;
  height: 214.87px;
  padding: 50px 0 32px;
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  text-align: center;
}
.footer-logo img {
  width: 120px;
}
.disclaimer {
  font-size: 14px;
  height: 46px;
  line-height: 23px;
  margin-block-end: 10px;
  padding-bottom: 25px;
  width: 360px;
}

.footer-social {
  text-align: right;
}

.list-inline {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer_logo {
  color: rgb(98, 98, 98);
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  height: 24px;
  width: 28px;
}

#scroll-top-btn {
  background-color: #333;
  border-radius: 5px;
  border: none;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
  outline: none;
  padding: 10px;
  position: fixed;
  right: 20px;
  z-index: 999;
}

#scroll-top-btn:hover {
  background-color: #777;
}
